# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
# Linting
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.3.0
  hooks:
  - id: check-ast
    files: ^minetester/.*$
  - id: trailing-whitespace
    files: ^minetester/.*$
  - id: end-of-file-fixer
    exclude_types: [jupyter]
    files: ^minetester/.*$
  - id: check-added-large-files
    files: ^minetester/.*$
- repo: https://github.com/psf/black
  rev: 22.6.0
  hooks:
  - id: black
    files: ^minetester/.*$
  - id: black-jupyter
    files: ^minetester/.*$
- repo: https://github.com/PyCQA/isort
  rev: 5.12.0
  hooks:
  - id: isort
    args: ["--profile", "black", "--filter-files"]
    files: ^minetester/.*$
# Python static analysis
- repo: https://github.com/pycqa/flake8
  rev: '5.0.4'
  hooks:
  - id: flake8
    additional_dependencies:
      - darglint~=1.8.1
      - flake8-blind-except==0.2.1
      - flake8-builtins~=1.5.3
      - flake8-commas~=2.1.0
      - flake8-debugger~=4.1.2
      - flake8-docstrings~=1.6.0
    files: ^minetester/.*$